body {
    margin: 0;
}

/* HERO */
.main__section--index {
    background-image: url("../imgs/main-section/iro-bottle-ink.jpg");
    background-size: cover;
    background-position: center;
    min-height: 800px;
    width: 100vw;
}

.main__section--history {
    background-image: url("../imgs/main-section/mini-brass.jpg");
    background-size: cover;
    background-position: center;
    min-height: 800px;
    width: 100vw;
}

.main__section--brands {
    background-image: url("../imgs/main-section/multi-inks.jpg");
    background-size: cover;
    background-position: center;
    min-height: 800px;
    width: 100vw;
}

.main__section--contact {
    background-image: url("../imgs/main-section/red-letter.jpg");
    background-size: cover;
    background-position: center;
    min-height: 800px;
    width: 100vw;
}

.main__section--to-buy {
    background-image: url("../imgs/main-section/pilot-close-up.jpg");
    background-size: cover;
    background-position: center;
    min-height: 800px;
    width: 100vw;
}

.main__section--group {
    padding: 200px 0 0 400px;
}

.main__section h1,
.main__section h2 {
    margin: 0;
    color: white;
}

.main__section h1 {
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

.main__section h2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
}


/* NAV */
.nav__li {
    display: inline-block;
}

.nav__ul {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    padding: 15px;
    margin: 0;
}

.nav__a {
    padding: 15px;
}

.nav__ul a:visited {
    color: black;
}

.nav__ul a:link {
    color: black;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
}

/* GALERIA */

.inks-section__img {
    display: inline-block;
}


.inks-section__img img {
    max-height: 200px;
    width: auto;
}

.inks-section {
    width: 45vw;
    margin: 50px auto 50px auto;
}

.inks-section h2 {
    font-family: 'Oxygen', sans-serif;
    color: #C9B488;
    font-size: 3rem;
}


/* FOOTER */
.main__footer {
    background-color: #D9CCB2;
    width: 100vw;
    max-height: 250px;
}

.footer__social--group li,
.footer__li {
    margin: 0 10px 0 10px;
    display: inline;
}

.footer__nav {
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    color: #eee;
    display: inline-block;
}

.footer__copy {
    color: white;
    padding: 16px;
    margin-bottom: 0;
    display: block;
}

.footer__social--group li a {
    background-color: #C9B488;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.footer__social--group i {
    color: white;
    font-size: 1.5rem;
}

.footer a:visited {
    color: white;
}

.footer a:link {
    color: white;
}

/* FORMULARIO NEWSLETTER */
.subs-section__img>img {
    height: 300px;
    width: auto;
}

.subs-section__container {
    width: 45vw;
    margin: 50px auto 50px auto;
    padding: 30px;
    border: 2px solid #D9CCB2;

}

.form__label,
.form__input {
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    margin: 10px;
    display: block;
}

.form__group {
    margin: 15px;

}

.form__input {

    border: solid 1px #eee;
    padding: 10px;
}

.form__input--submit {
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: #D9CCB2;
    border-radius: 5px;
    width: 30%;
}

.card__img {
    height: 300px;
    width: 300px;
}

.card__img img {
    height: 100%;
    width: auto;
}