/* configuracion */
/* globales */
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
}
body a {
  text-decoration: none;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-family: "Oxygen", sans-serif;
  color: #c9b488;
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

p {
  padding: 0.9375rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5625rem;
}

.header {
  max-width: 100vw;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.809944046) 0%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (max-width: 992px) {
  .header {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9892157547) 92%, rgba(255, 255, 255, 0) 100%);
  }
}

.navbar .container-fluid {
  align-items: flex-start;
}
.navbar-expand-md {
  padding: 0;
}
.navbar-toggler {
  padding: 1rem;
  border: 0 none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-brand {
  margin: 0;
  padding: 1rem;
}
.navbar-toggler-icon {
  font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .navbar a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 992px) {
  .navbar-brand {
    margin: 0;
    padding: 1rem;
  }
  .navbar-brand img {
    height: 6.25rem;
    width: auto;
  }
  .navbar-nav {
    padding-bottom: 2rem;
  }
}

.nav__ul {
  margin: 0;
  padding: 1rem;
  font-family: "Oxygen", sans-serif;
  font-size: 1.5rem;
}
.nav__list {
  padding: 0;
  display: none;
  background-color: rgba(238, 238, 238, 0.925);
}

.dropdown-menu {
  border: 0 none;
  overflow: hidden;
}
.dropdown-menu li {
  padding: 0 0.5rem;
}
.dropdown-menu li:focus {
  background-color: rgba(197, 196, 196, 0.681);
}
.dropdown-menu li:hover {
  background-color: rgba(197, 196, 196, 0.681);
}

.dropdown-item {
  padding: 0.5rem;
  font-size: 1.5rem;
}
.dropdown-item:focus {
  background-color: transparent;
}
.dropdown-item:hover {
  background-color: transparent;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c9b488;
  max-width: 100vw;
  margin-top: 1rem;
}
.footer__social--group li, .footer__li {
  padding: 0.3125rem;
  display: inline;
}
.footer ul {
  padding: 0;
}
.footer a:visited {
  color: white;
}
.footer a:link {
  color: white;
}
.footer__copy {
  color: white;
  padding: 1rem;
  margin-bottom: 0;
}
.footer__nav {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: #eee;
  padding: 1.3rem 0 0 0;
}
.footer__nav a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1200px) {
  .footer i {
    font-size: 1rem;
  }
  .footer__nav {
    padding: 1rem;
  }
  .footer__copy {
    padding: 0.3125rem 0 0 0;
    font-size: 0.8rem;
  }
  .footer__li {
    font-size: 0.85rem;
  }
  .footer__social {
    padding: 0;
  }
}
@media screen and (max-width: 320px) {
  .footer ul {
    padding: 0;
  }
  .footer__nav {
    padding: 1rem 0;
    font-size: 0.7rem;
  }
}

.footer__social--group {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-direction: row;
}
.footer__social--group a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9b488;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .footer__social--group {
    margin: 0;
  }
  .footer__social--group a {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  min-height: 85vh;
  max-width: 100vw;
}
.hero__title {
  margin: 0;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}
.hero__subtitle {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Oxygen", sans-serif;
}
.hero--index {
  background-image: url("../imgs/main-section/brand-nibs.jpg");
}
.hero--history {
  background-image: url("../imgs/main-section/mini-brass.jpg");
}
.hero--brands {
  background-image: url("../imgs/main-section/bottle-inks.jpg");
}
.hero--contact {
  background-image: url("../imgs/main-section/red-letter.jpg");
}
.hero--to-buy {
  background-image: url("../imgs/main-section/pilot-close-up.jpg");
}
.hero__content-wrapper {
  padding: 5px 0 5px 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 768px) {
  .hero__title {
    padding: 1.5rem;
    font-size: 2.5rem;
    font-weight: 200;
  }
  .hero__subtitle {
    font-size: 1.5rem;
    font-weight: 200;
  }
}

/* pages */
.inks-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  width: 100%;
  flex-direction: column;
}
.inks-section__text {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  display: none;
  padding: 0.5rem;
  text-align: center;
  line-height: normal;
  text-shadow: 0 0 10px #ffffff, 2px 2px 15px rgba(255, 255, 255, 0.69);
}
@media screen and (max-width: 1596px) {
  .inks-section__text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .inks-section__text {
    text-shadow: none;
    color: #d9ccb2;
    mix-blend-mode: screen;
    font-size: 2rem;
    display: block;
  }
}
.inks-section__container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 40vw;
  margin: 0 auto;
}
.inks-section__container div:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
@media screen and (max-width: 768px) {
  .inks-section__container div:hover {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }
}
@media screen and (max-width: 768px) {
  .inks-section__container div {
    -webkit-filter: none;
    filter: none;
  }
}
@media screen and (max-width: 1200px) {
  .inks-section__container {
    width: 60vw;
    height: 18.75rem;
  }
}
@media screen and (max-width: 768px) {
  .inks-section__container {
    width: 60vw;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
  }
}
.inks-section__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  transition: all 0.3s ease;
}
.inks-section__img:nth-child(1) {
  height: calc(15vw - 1rem);
  grid-area: 1/1/2/2;
  background-image: url("../imgs/pen-inks/diamine-ink.jpg");
}
.inks-section__img:nth-child(2) {
  height: calc(15vw - 1rem);
  grid-area: 1/2/2/3;
  background-image: url("../imgs/pen-inks/organics-ink.jpg");
}
.inks-section__img:nth-child(3) {
  grid-area: 2/1/3/3;
  background-image: url("../imgs/pen-inks/roberoster-ink.jpg");
}
.inks-section__img:nth-child(4) {
  grid-area: 1/3/3/4;
  background-image: url("../imgs/pen-inks/sailor-ink.jpg");
}
.inks-section__img:hover .inks-section__text {
  display: block;
}
@media screen and (max-width: 768px) {
  .inks-section__img {
    height: 60vw;
  }
  .inks-section__img:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    height: 60vw;
  }
  .inks-section__img:nth-child(2) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    height: 60vw;
  }
  .inks-section__img:nth-child(3) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
  }
  .inks-section__img:nth-child(4) {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
  }
}

.subs-section__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 40vw;
  margin: 50px auto 50px auto;
  padding: 1.875rem;
  border: 2px solid #d9ccb2;
  margin-bottom: 4.6875rem;
}
@media screen and (max-width: 1200px) {
  .subs-section__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (max-width: 1596px) {
  .subs-section__img {
    display: none;
  }
}
.subs-section__img img {
  max-height: 400px;
  width: auto;
  transform-origin: 50% 50%;
  transform: translate(-85px, -20px) rotate(15deg);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.23);
}
@media screen and (max-width: 1200px) {
  .subs-section {
    display: flex;
    justify-content: center;
  }
}

.form__h2 {
  font-family: "Pacifico", cursive;
  color: black;
  font-size: 1.65rem;
}
.form__label {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  margin: 10px;
  display: block;
}
.form__group {
  margin: 0.9375rem;
}
.form__input {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  margin: 10px;
  display: block;
  border: solid 1px #eee;
  padding: 0.625rem;
}
.form__input:focus {
  outline: none;
  border: solid 1px #d9ccb2;
}
.form__input--submit {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  padding: 0.625rem;
  border: solid 1px #d9ccb2;
  background-color: #d9ccb2;
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in-out;
}
.form__input--submit:hover {
  border: solid 1px #c9b488;
  color: #c9b488;
  background-color: white;
}
@media screen and (max-width: 1200px) {
  .form {
    padding: 0.5rem;
    margin: auto 0;
  }
}

.article-history__text-container {
  margin: 0 auto 0 auto;
  width: 60vw;
}
@media screen and (max-width: 1200px) {
  .article-history__text-container {
    padding: 2rem;
    width: 100vw;
  }
}

.section-anatomy {
  margin-bottom: 1.5rem;
}

.gallery__container {
  padding: 2rem;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
}
.slider img {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.slider-nav {
  display: flex;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}

.main__h3 {
  font-size: 1.75rem;
  font-weight: 550;
}

.card {
  width: 40vw;
  margin: 50px auto 50px auto;
  border: 2px solid #d9ccb2;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.card__img {
  max-height: 18.75rem;
  width: 18.75rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.23);
}
.card__img img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.card__content {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  flex-direction: column;
}
.card__content a {
  display: inline;
  align-self: flex-start;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  padding: 0.625rem;
  border: solid 1px #d9ccb2;
  background-color: #d9ccb2;
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in-out;
}
.card__content a:visited {
  color: black;
}
.card__content a:link {
  color: black;
}
.card__content a:hover {
  border: solid 1px #c9b488;
  color: #c9b488;
  background-color: white;
}
@media screen and (max-width: 1690px) {
  .card {
    width: 60vw;
  }
  .card__content {
    justify-content: start;
  }
}
@media screen and (max-width: 1200px) {
  .card {
    display: flex;
    align-items: center;
    width: 80vw;
    flex-direction: column-reverse;
    border: 3px solid #d9ccb2;
  }
  .card__img {
    width: 80vw;
    height: 25rem;
    box-shadow: none;
  }
  .card__img img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

/* @import "../components/to-buy-card"; */
.card__h3,
.card__h4 {
  text-align: left;
  padding: 0.65rem;
}

.card li {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  list-style-type: none;
}
.card h3 {
  font-size: 1.3rem;
}
.card h4 {
  font-family: "Oxygen", sans-serif;
  font-size: 1.2rem;
  font-weight: 350;
}

.to-buy__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
  gap: 2rem;
  margin: 0 auto 3rem;
}
@media screen and (max-width: 1200px) {
  .to-buy__container {
    width: 80vw;
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .to-buy__container {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
}
.to-buy__container .article-to-buy {
  max-width: calc(33.3333333333% - 1.3333333333rem);
  flex: 1 0 calc(33.3333333333% - 1.3333333333rem);
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .to-buy__container .article-to-buy {
    max-width: calc(50% - 1rem);
    flex: 1 0 calc(50% - 1rem);
  }
}
@media screen and (max-width: 768px) {
  .to-buy__container .article-to-buy {
    max-width: none;
    flex: 1 0 auto;
    width: 100%;
    padding: 0 2rem;
  }
}
.to-buy__card {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.23);
  max-width: 100%;
  min-height: 100%;
}
.to-buy__card ul {
  padding: 1.5rem;
}
.to-buy__card img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.to-buy__card a:visited {
  color: black;
}
.to-buy__card a:link {
  color: black;
}
@media screen and (max-width: 1200px) {
  .to-buy__card div {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .to-buy__card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .to-buy__card div {
    width: 100%;
    height: 40%;
  }
  .to-buy__card img {
    width: 100%;
    height: 100%;
  }
}

.section-contact {
  padding: 0.5rem;
}
.section-contact .form__group {
  margin: 0;
  padding: 0.75rem;
}
@media screen and (max-width: 1200px) {
  .section-contact .form__group--data {
    flex-direction: column;
  }
}
.section-contact .form__group--data input {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .subs-section__container {
    width: 100vw;
    padding: 0.9375rem;
  }
}

.section-contact .form__input,
.section-contact .form__label {
  margin: 0;
  padding: 0.3125rem;
}

.form__group p {
  margin: 0;
}
.form__group h3 {
  text-align: center;
  padding: 0.625rem;
}
.form__group--data {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.input__message {
  width: 100%;
}

.contact__submit {
  margin: 1rem;
}

/*# sourceMappingURL=styles.css.map */
