* {
    box-sizing: border-box;
    margin: 0;
}
body {
    a {
        text-decoration: none;
    }
    position: relative;
}
h2 {
    text-align: center;
    padding: 1rem;
    font-family: $second-font-family;
    color: $main-color;
    font-size: 4rem;
}
h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $second-font-family;
}
p {
    padding: 0.9375rem;
    font-family: $para-font-family;
    font-size: 1rem;
    line-height: 1.5625rem;
}

@import "../components/header";
@import "../components/footer";
@import "../components/hero";
