$main-font-family: "Pacifico", cursive;
$second-font-family: "Oxygen", sans-serif;
$para-font-family: Helvetica, Arial, sans-serif;
$semi-white-transparency: rgba(255, 255, 255, 0.7);
$off-white-08: rgba(238, 238, 238, 0.925);
$no-color: transparent;
$hover-color: rgba(197, 196, 196, 0.681);

$main-color: #c9b488;
$second-color: #d9ccb2;
$off-white-color: #eee;
$white-color: white;
$black-color: black;

$box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.23);

$media_queries: (
    /* Iphone 5/SE */ "mobile-xxs": "max-width: 320px",
    "bootstrap-media-lg": "max-width: 991px",
    "mobile": "max-width: 768px",
    "tablet": "max-width: 1200px",
    "desktop": "max-width: 1596px"
);
