.article-history__text-container {
    margin: 0 auto 0 auto;
    width: 60vw;
    @media screen and (map_get($media_queries, "tablet")) {
        text-align: justify;
        padding: 0.5rem;
        width: 100vw;
    }
}
