.footer {
    @include flex(flex, center, center);
    flex-direction: column;
    background-color: $main-color;
    max-width: 100vw;
    margin-top: 1rem;
    &__social--group li,
    &__li {
        padding: 0.3125rem;
        display: inline;
    }
    a {
        &:visited {
            color: $white-color;
        }
        &:link {
            color: $white-color;
        }
    }

    &__copy {
        color: $white-color;
        padding: 1rem;
        margin-bottom: 0;
    }

    &__nav {
        font-family: $second-font-family;
        font-size: 1rem;
        color: $off-white-color;
        padding: 1.3rem 0 0 0;
    }
    @media screen and (map_get($media_queries, "tablet")) {
        i {
            font-size: 1rem;
        }
        &__nav {
            padding: 1rem;
        }
        &__copy {
            padding: 0.3125rem 0 0 0;
            font-size: 0.8rem;
        }
        &__li {
            font-size: 0.85rem;
        }
        &__social {
            padding: 0;
        }
    }
    @media screen and (map_get($media_queries, "mobile-xxs")) {
        ul {
            padding: 0;
        }
        &__nav {
            padding: 1rem 0;
            font-size: 0.7rem;
        }
    }
}

.footer__social--group {
    a {
        @include flex(flex, center, center);
        background-color: $main-color;
        height: 3.125rem;
        width: 3.125rem;
        border-radius: 50%;
        color: $white-color;
        font-size: 1.5rem;
    }
    @include flex(flex, center, null);
    @include marpad(0, 0);
    flex-direction: row;
    @media screen and (map_get($media_queries, "tablet")) {
        margin: 0;
        a {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}
