.hero {
    @include flex(flex, center, center);
    flex-direction: column;
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    max-width: 100vw;
    &__title {
        margin: 0;
        text-align: center;
        font-size: 3.5rem;
        font-weight: 400;
        font-family: $main-font-family;
    }
    &__subtitle {
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $second-font-family;
    }

    &--index {
        background-image: url("../imgs/main-section/brand-nibs.jpg");
    }
    &--history {
        background-image: url("../imgs/main-section/mini-brass.jpg");
    }
    &--brands {
        background-image: url("../imgs/main-section/bottle-inks.jpg");
    }
    &--contact {
        background-image: url("../imgs/main-section/red-letter.jpg");
    }
    &--to-buy {
        background-image: url("../imgs/main-section/pilot-close-up.jpg");
    }
    &__content-wrapper {
        padding: 5px 0 5px 0;
        width: 100vw;
        background-color: $semi-white-transparency;
    }
    @media screen and (map_get($media_queries, "mobile")) {
        &__title {
            padding: 1.5rem;
            font-size: 2.5rem;
            font-weight: 200;
        }
        &__subtitle {
            font-size: 1.5rem;
            font-weight: 200;
        }
    }
}
