.subs-section {
    &__container {
        @include flex(flex, space-around, center);
        flex-direction: row;
        width: 40vw;
        margin: 50px auto 50px auto;
        padding: 1.875rem;
        border: 2px solid $second-color;
        margin-bottom: 4.6875rem;
        @media screen and (map_get($media_queries, "tablet")) {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
        }
    }
    &__img {
        @media screen and (map_get($media_queries, "desktop")) {
            display: none;
        }
        img {
            max-height: 400px;
            width: auto;
            transform-origin: 50% 50%;
            transform: translate(-85px, -20px) rotate(15deg);
            box-shadow: $box-shadow;
        }
    }
    @media screen and (map_get($media_queries, "tablet")) {
        @include flex(flex, center, null);
    }
}

.form {
    &__h2 {
        font-family: $main-font-family;
        color: $black-color;
        font-size: 1.65rem;
    }
    &__label {
        font-family: $second-font-family;
        font-size: 1rem;
        margin: 10px;
        display: block;
    }
    &__group {
        margin: 0.9375rem;
    }
    &__input {
        font-family: $second-font-family;
        font-size: 1rem;
        margin: 10px;
        display: block;
        border: solid 1px #eee;
        padding: 0.625rem;
        &:focus {
            outline: none;
            border: solid 1px $second-color;
        }
        &--submit {
            @include basic-button;
            &:hover {
                @include hover-button;
            }
        }
    }
    @media screen and (map_get($media_queries, "tablet")) {
        padding: 0.5rem;
        margin: auto 0;
    }
}
