.card__h3,
.card__h4 {
    text-align: left;
    padding: 0.65rem;
}

.card {
    li {
        text-decoration: none;
        font-family: $para-font-family;
        font-size: 1rem;
        list-style-type: none;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-family: $second-font-family;
        font-size: 1.2rem;
        font-weight: 350;
    }
}
